$background: #dbe9ee;
$header-color: #007bc6;
$header-active-border: #DA2128;

$text-color: rgb(70, 70, 70);
$link-color: rgb(38, 38, 38);

//champion colors
$one-championship: #E8DD8F;
//loser colors
$one-toiletbowl: #D57575; 