.card {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 3px 6px rgba(0,0,0,.2);
    transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-sizing: border-box;
    
    &:hover {
        // background-color: darken(white, 10);
    }
}

.card-nav {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    a {
        display: flex;
        line-height: 50px;
        padding: 0 20px; 
        height: 50px;
        display: block;
        border-bottom: 2px solid transparent; 
        transition: all 0.2s linear; 

        &.selected {
            color: $header-color;
            border-bottom: 2px solid $header-color;
        }
    }
    a:hover {
        // color: lighten($text-color, 20);
        // border-bottom: 2px solid lighten($text-color, 30);
        color: $header-color;
        border-bottom: 2px solid $header-color;
    }
}