@import '../../styles/colors';

:local(.keyStats) {
    height: 200px;
    padding: 4%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 600;

    > div {
        display: flex;
        justify-content: space-between;
    }

    .championship {
        font-size: 3rem;        
    }

    .number {
        display: flex;
        justify-content: space-between;        
        font-size: 2rem;
    }

    .numbers {
        flex: 0 0 46%;
    }

    .wins {
         color: $winner-game;
    }

    .losses {
        color: $loser-game;
    }
}