:local(.keyStats) {
  height: 200px;
  padding: 4%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 600; }
  :local(.keyStats) > div {
    display: flex;
    justify-content: space-between; }
  :local(.keyStats) .championship {
    font-size: 3rem; }
  :local(.keyStats) .number {
    display: flex;
    justify-content: space-between;
    font-size: 2rem; }
  :local(.keyStats) .numbers {
    flex: 0 0 46%; }
  :local(.keyStats) .wins {
    color: #58BC62; }
  :local(.keyStats) .losses {
    color: #e25959; }
