@import '../../styles/colors';

:local(.title) {
    padding-bottom: 0;
    padding-top: 15px;
    margin-bottom: 2vh; 
    
    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}