@import '../../styles/colors';

:local(.list) {
    display: flex;
    flex-wrap: wrap;
}

:local(.game) {
    flex: 0 1 49%;
    margin-right: 2%;
    margin-top: 2%;
    padding: 2%;
    position: relative;
    border: 2px solid white !important;    
    
    @media screen and (max-width: 640px) {
        flex: 0 0 100%;
        margin: 2% 0;
    }

    &:nth-child(2n) {
        margin-right: 0 !important;
    }
    
    &.winner {
        border: 2px solid $winner-game !important;
    }

    .scores,
    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .score {
        color: $loser-game;
    }

    .scoreWinner {
        color: $winner-game;
    }


    .vs {
        font-size: 0.8rem;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}