@import '../../styles/colors';
:local(.ownerList) {
    display: flex;
    flex-wrap: wrap;
}

:local(.owner)  {
    flex: 0 0 42%;
    height: 15vh;
    margin: 0 2% 2% 0;
    padding: 2%;
    position: relative;

    &.winner {
        background-color: $one-championship;
    }

    &.loser {
        background-color: $one-toiletbowl;
    }

    &:nth-child(-n+2) {
        margin-top: 15px;
    }

    .aka {
        position: absolute;
        bottom: 20px;
        font-weight: 500;
        
        .teamNames {
            display: flex;
            flex-direction: column;
            span {
                font-size: 0.7rem;
            }
        }
    }
}