:local(.ownerList) {
  display: flex;
  flex-wrap: wrap; }

:local(.owner) {
  flex: 0 0 42%;
  height: 15vh;
  margin: 0 2% 2% 0;
  padding: 2%;
  position: relative; }
  :local(.owner).winner {
    background-color: #E8DD8F; }
  :local(.owner).loser {
    background-color: #D57575; }
  :local(.owner):nth-child(-n+2) {
    margin-top: 15px; }
  :local(.owner) .aka {
    position: absolute;
    bottom: 20px;
    font-weight: 500; }
    :local(.owner) .aka .teamNames {
      display: flex;
      flex-direction: column; }
      :local(.owner) .aka .teamNames span {
        font-size: 0.7rem; }
