body {
  background-color: #dbe9ee;
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  margin-bottom: 200px; }

.container {
  width: 60%;
  margin: 0 auto; }

a:hover,
a:visited {
  color: #464646; }

a {
  color: #464646;
  text-decoration: none;
  font-weight: 600; }

h1 {
  margin: 0.4rem 0; }

h2 {
  margin: 0.4rem 0; }

h3 {
  margin: 0.4rem 0; }

h4 {
  margin: 0.4rem 0; }

h5 {
  margin: 0.4rem 0; }

h6 {
  margin: 0.4rem 0; }

.card {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1); }
  .card:hover {
    background-color: #e6e6e6; }
